<p id="notice"><%= notice %></p>
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"><p></p><%= @task_list.name %></p></h4>
    <p class="list-group-item-text"><p><%= @task_list.description %></p></p>
     <%= link_to  task_lists_path do %>
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
    <% end %>
    <%= link_to new_task_list_task_path(@task_list)  do %>   
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
    <%= link_to edit_task_list_path(@task_list) do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <% end %>
  </a>
  
</div>
<% if @task_list.tasks.size > 0 %>
    <ul>
        <% @task_list.tasks.each do |task| %>
            <div class="list-group">
                 <%= link_to edit_task_list_task_path(@task_list, task) do %>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <% end %>
                <%= link_to task_list_task_path(@task_list,task), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <% end %>
                <a href="#" class="list-group-item disabled"><%= task.id %></a>
                <a href="#" class="list-group-item disabled"><%= task.name %>
                    <% if task.finished %> 
                        <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                    <% end %>
                </a>
            </div>
        <% end %>
    </ul>
<% else %>
    <h4 class="list-group-item-heading"><p></p>No task already exists</p></h4>
<% end %>
